<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>StringsTable</key>
        <string>Settings</string>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Type</key>
                <string>PSTitleValueSpecifier</string>
                <key>Title</key>
                <string>SLUG-VERSION-LGVCLEANTIME</string>
                <key>Key</key>
                <string>LGV_CLEANTIME</string>
                <key>DefaultValue</key>
                <string></string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTitleValueSpecifier</string>
                <key>Title</key>
                <string>SLUG-VERSION-UICLEANTIME</string>
                <key>Key</key>
                <string>UICLEANTIME</string>
                <key>DefaultValue</key>
                <string></string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTitleValueSpecifier</string>
                <key>Title</key>
                <string>SLUG-VERSION-OBSERVER</string>
                <key>Key</key>
                <string>GENERALOBSERVER</string>
                <key>DefaultValue</key>
                <string></string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTitleValueSpecifier</string>
                <key>Title</key>
                <string>SLUG-VERSION-GST</string>
                <key>Key</key>
                <string>GST</string>
                <key>DefaultValue</key>
                <string></string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTitleValueSpecifier</string>
                <key>Title</key>
                <string>SLUG-VERSION-PP</string>
                <key>Key</key>
                <string>PP</string>
                <key>DefaultValue</key>
                <string></string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTitleValueSpecifier</string>
                <key>Title</key>
                <string>SLUG-VERSION-UKT</string>
                <key>Key</key>
                <string>UKT</string>
                <key>DefaultValue</key>
                <string></string>
            </dict>
        </array>
    </dict>
</plist>
